@import './variable.styl'


html {
  font-size: 100px
}

body
  font-family 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
  line-height 1.5
  background $themeColor
  font-size: 16px

.main
  width 60%
  margin-left: 15%

.text-gray
  color #505050

.tabs
  .el-tabs__active-bar
    background-color $tabColor
  .el-tabs__item.is-active
    color $tabColor
  .el-tabs__nav-wrap::after
    background-color $tabBorder

.chat-room
  background $chartBackground
  box-shadow $chartBoxShadow
  .chat-room-inline
    border-right 1px solid $chartEditorBorder
  .room-name
    background $chartEditotHead
    color $chartEditotHeadFont
  .editor
    border-top 1px solid $chartEditorBorder
  .item-content
    border 1px solid #ddd
    color #3b3b3b

pre 
  white-space: pre-wrap
  font-family 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
  margin: 0
  word-break: break-word

.mask
  position: fixed
  left 0
  top 0
  bottom 0
  right 0
  background: black
  opacity 0.6
  z-index: 200

// 图片自适应排列
.cm-img-list
  margin 0 -12px

.cm-img-list_item-area
  display inline-block
  width 33.3%
  text-align center
  box-sizing border-box
  padding-bottom 30%
  height 0
  position relative
  margin 0

.cm-img-list_item-container
  position absolute
  height 100%
  width 100%
  padding 0 12px
  left 0
  border-radius 10px
  box-sizing border-box

.cm-img-list_item
  height 100%
  width 100%


.el-loading-small
  .el-loading-spinner .circular
    height 14px
    width: 14px
  .el-loading-spinner .path
    stroke $gray
  .el-loading-spinner .el-loading-text
    color $gray
    font-size: 12px
    margin: 0
    

.el-message-bottom
  top auto !important
  bottom 40px
  background #fff
  &.el-message-fade-enter,&.el-message-fade-leave-active
    -webkit-transform: translate(-50%, 100%)
    transform: translate(-50%, 100%)






@import './mobile.styl'
