tag(color = black, background-color = #ffe77c)
  color color
  background-color background-color
  display inline-block
  padding 1px 6px
  border-radius 8px

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

input-placeholder()
  vendor('input-placeholder', arguments)
