$themeColor = #f5f5dc
$tabColor = #4272a1
$tabBorder = #d4e7fa

$chartBackground = #fff
$chartBoxShadow = 0 2px 12px 0 rgba(0, 0, 0, 0.1)
$chartEditorBorder = #ddd
$chartEditotHead = #484A4B
$chartEditotHeadFont = #fff